root = true
# To learn more about .editorconfig see https://aka.ms/editorconfigdocs
###############################
# Core EditorConfig Options   #
###############################
# All files
[*]
indent_style = space

# Standard properties
insert_final_newline = true

# Microsoft .NET properties
csharp_preferred_modifier_order = public, private, protected, internal, static, extern, new, virtual, abstract, sealed, override, readonly, unsafe, volatile, async, file, required:suggestion
csharp_style_expression_bodied_accessors = true:suggestion
csharp_style_expression_bodied_methods = true:suggestion
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_prefer_utf8_string_literals = true:suggestion
csharp_style_var_elsewhere = false:none
csharp_style_var_for_built_in_types = false:suggestion
dotnet_naming_rule.constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.constants_rule.severity = error
dotnet_naming_rule.constants_rule.style = all_upper_style_1
dotnet_naming_rule.constants_rule.symbols = constants_symbols
dotnet_naming_rule.constants_should_be_upper_case_rule.import_to_resharper = True
dotnet_naming_rule.constants_should_be_upper_case_rule.resharper_description = constants_should_be_upper_case
dotnet_naming_rule.constants_should_be_upper_case_rule.resharper_guid = 48124a0b-0a3b-4b8a-aa45-96d7bbdd5d8f
dotnet_naming_rule.constants_should_be_upper_case_rule.severity = error
dotnet_naming_rule.constants_should_be_upper_case_rule.style = all_upper_style
dotnet_naming_rule.constants_should_be_upper_case_rule.symbols = constants_should_be_upper_case_symbols
dotnet_naming_rule.method_and_class_must_be_pascal_case_rule.import_to_resharper = True
dotnet_naming_rule.method_and_class_must_be_pascal_case_rule.resharper_description = method_and_class_must_be_pascal_case
dotnet_naming_rule.method_and_class_must_be_pascal_case_rule.resharper_guid = deda92cf-cd5b-4a2b-8321-6756faf719fa
dotnet_naming_rule.method_and_class_must_be_pascal_case_rule.severity = error
dotnet_naming_rule.method_and_class_must_be_pascal_case_rule.style = upper_camel_case_style
dotnet_naming_rule.method_and_class_must_be_pascal_case_rule.symbols = method_and_class_must_be_pascal_case_symbols
dotnet_naming_rule.non_public_constants_should_have_underscore_prefix_rule.import_to_resharper = True
dotnet_naming_rule.non_public_constants_should_have_underscore_prefix_rule.resharper_description = non_public_constants_should_have_underscore_prefix
dotnet_naming_rule.non_public_constants_should_have_underscore_prefix_rule.resharper_guid = 61ae0fdf-d5b0-4a34-b353-393ac3057514
dotnet_naming_rule.non_public_constants_should_have_underscore_prefix_rule.severity = error
dotnet_naming_rule.non_public_constants_should_have_underscore_prefix_rule.style = all_upper_style_1
dotnet_naming_rule.non_public_constants_should_have_underscore_prefix_rule.symbols = non_public_constants_should_have_underscore_prefix_symbols
dotnet_naming_rule.non_public_must_be_camel_case_rule.import_to_resharper = True
dotnet_naming_rule.non_public_must_be_camel_case_rule.resharper_description = non_public_must_be_camel_case
dotnet_naming_rule.non_public_must_be_camel_case_rule.resharper_guid = 0b65ae12-0bb3-4b67-a09a-c7eca785733c
dotnet_naming_rule.non_public_must_be_camel_case_rule.severity = error
dotnet_naming_rule.non_public_must_be_camel_case_rule.style = lower_camel_case_style_1
dotnet_naming_rule.non_public_must_be_camel_case_rule.symbols = non_public_must_be_camel_case_symbols
dotnet_naming_rule.non_public_variables_must_be_camel_case_rule.import_to_resharper = True
dotnet_naming_rule.non_public_variables_must_be_camel_case_rule.resharper_description = non_public_variables_must_be_camel_case
dotnet_naming_rule.non_public_variables_must_be_camel_case_rule.resharper_guid = b3a9049b-9c76-4eff-8998-de77e61291a6
dotnet_naming_rule.non_public_variables_must_be_camel_case_rule.severity = error
dotnet_naming_rule.non_public_variables_must_be_camel_case_rule.style = lower_camel_case_style
dotnet_naming_rule.non_public_variables_must_be_camel_case_rule.symbols = non_public_variables_must_be_camel_case_symbols
dotnet_naming_rule.private_constants_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_constants_rule.severity = error
dotnet_naming_rule.private_constants_rule.style = all_upper_style_1
dotnet_naming_rule.private_constants_rule.symbols = private_constants_symbols
dotnet_naming_rule.private_static_readonly_rule.import_to_resharper = as_predefined
dotnet_naming_rule.private_static_readonly_rule.severity = error
dotnet_naming_rule.private_static_readonly_rule.style = lower_camel_case_style_1
dotnet_naming_rule.private_static_readonly_rule.symbols = private_static_readonly_symbols
dotnet_naming_rule.public_must_be_pascal_case_rule.import_to_resharper = True
dotnet_naming_rule.public_must_be_pascal_case_rule.resharper_description = public_must_be_pascal_case
dotnet_naming_rule.public_must_be_pascal_case_rule.resharper_guid = 73d06292-a16a-4459-8263-784f1ad90e40
dotnet_naming_rule.public_must_be_pascal_case_rule.severity = error
dotnet_naming_rule.public_must_be_pascal_case_rule.style = upper_camel_case_style
dotnet_naming_rule.public_must_be_pascal_case_rule.symbols = public_must_be_pascal_case_symbols
dotnet_naming_rule.unity_serialized_field_rule.import_to_resharper = True
dotnet_naming_rule.unity_serialized_field_rule.resharper_description = Unity serialized field
dotnet_naming_rule.unity_serialized_field_rule.resharper_guid = 5f0fdb63-c892-4d2c-9324-15c80b22a7ef
dotnet_naming_rule.unity_serialized_field_rule.severity = error
dotnet_naming_rule.unity_serialized_field_rule.style = lower_camel_case_style
dotnet_naming_rule.unity_serialized_field_rule.symbols = unity_serialized_field_symbols
dotnet_naming_style.all_upper_style.capitalization = all_upper
dotnet_naming_style.all_upper_style.word_separator = _
dotnet_naming_style.all_upper_style_1.capitalization = all_upper
dotnet_naming_style.all_upper_style_1.required_prefix = _
dotnet_naming_style.all_upper_style_1.word_separator = _
dotnet_naming_style.lower_camel_case_style.capitalization = camel_case
dotnet_naming_style.lower_camel_case_style_1.capitalization = camel_case
dotnet_naming_style.lower_camel_case_style_1.required_prefix = _
dotnet_naming_style.upper_camel_case_style.capitalization = pascal_case
dotnet_naming_symbols.constants_should_be_upper_case_symbols.applicable_accessibilities = local,public,internal,protected_internal
dotnet_naming_symbols.constants_should_be_upper_case_symbols.applicable_kinds = field
dotnet_naming_symbols.constants_should_be_upper_case_symbols.required_modifiers = const
dotnet_naming_symbols.constants_should_be_upper_case_symbols.resharper_applicable_kinds = constant_field
dotnet_naming_symbols.constants_should_be_upper_case_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.constants_symbols.applicable_accessibilities = public,internal,protected,protected_internal,private_protected
dotnet_naming_symbols.constants_symbols.applicable_kinds = field
dotnet_naming_symbols.constants_symbols.required_modifiers = const
dotnet_naming_symbols.method_and_class_must_be_pascal_case_symbols.applicable_accessibilities = local,public,internal,private,protected,protected_internal,private_protected
dotnet_naming_symbols.method_and_class_must_be_pascal_case_symbols.applicable_kinds = method,class
dotnet_naming_symbols.method_and_class_must_be_pascal_case_symbols.resharper_applicable_kinds = method,class
dotnet_naming_symbols.method_and_class_must_be_pascal_case_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.non_public_constants_should_have_underscore_prefix_symbols.applicable_accessibilities = local,private,protected
dotnet_naming_symbols.non_public_constants_should_have_underscore_prefix_symbols.applicable_kinds = field
dotnet_naming_symbols.non_public_constants_should_have_underscore_prefix_symbols.required_modifiers = const
dotnet_naming_symbols.non_public_constants_should_have_underscore_prefix_symbols.resharper_applicable_kinds = constant_field
dotnet_naming_symbols.non_public_constants_should_have_underscore_prefix_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.non_public_must_be_camel_case_symbols.applicable_accessibilities = local,private,protected
dotnet_naming_symbols.non_public_must_be_camel_case_symbols.applicable_kinds = property,field,event,delegate,struct
dotnet_naming_symbols.non_public_must_be_camel_case_symbols.resharper_applicable_kinds = property,any_field,event,delegate,struct
dotnet_naming_symbols.non_public_must_be_camel_case_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.non_public_variables_must_be_camel_case_symbols.applicable_accessibilities = local,public,internal,private,protected,protected_internal,private_protected
dotnet_naming_symbols.non_public_variables_must_be_camel_case_symbols.applicable_kinds = local
dotnet_naming_symbols.non_public_variables_must_be_camel_case_symbols.resharper_applicable_kinds = local
dotnet_naming_symbols.non_public_variables_must_be_camel_case_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds = field
dotnet_naming_symbols.private_constants_symbols.required_modifiers = const
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities = private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds = field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers = static,readonly
dotnet_naming_symbols.public_must_be_pascal_case_symbols.applicable_accessibilities = local,public,internal,protected_internal
dotnet_naming_symbols.public_must_be_pascal_case_symbols.applicable_kinds = property,field,event,delegate
dotnet_naming_symbols.public_must_be_pascal_case_symbols.resharper_applicable_kinds = property,any_field,event,delegate
dotnet_naming_symbols.public_must_be_pascal_case_symbols.resharper_required_modifiers = any
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_accessibilities = *
dotnet_naming_symbols.unity_serialized_field_symbols.applicable_kinds = 
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_applicable_kinds = unity_serialised_field
dotnet_naming_symbols.unity_serialized_field_symbols.resharper_required_modifiers = instance
dotnet_separate_import_directive_groups = true
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:warning
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:warning
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:warning

# ReSharper properties
resharper_align_linq_query = true
resharper_align_multiline_binary_expressions_chain = false
resharper_align_multiline_statement_conditions = false
resharper_autodetect_indent_settings = true
resharper_blank_lines_before_control_transfer_statements = 1
resharper_braces_for_for = required
resharper_braces_for_foreach = required
resharper_braces_for_ifelse = required_for_multiline
resharper_braces_for_while = required
resharper_braces_redundant = false
resharper_csharp_max_line_length = 150
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_csharp_wrap_before_binary_opsign = true
resharper_csharp_wrap_extends_list_style = chop_if_long
resharper_csharp_wrap_parameters_style = chop_if_long
resharper_formatter_off_tag = @formatter:off
resharper_formatter_on_tag = @formatter:on
resharper_formatter_tags_enabled = true
resharper_instance_members_qualify_declared_in = base_class
resharper_keep_existing_declaration_block_arrangement = true
resharper_keep_existing_embedded_block_arrangement = true
resharper_keep_existing_enum_arrangement = true
resharper_keep_existing_initializer_arrangement = false
resharper_max_initializer_elements_on_line = 1
resharper_parentheses_redundancy_style = remove
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_field_attribute_on_same_line = false
resharper_place_simple_embedded_statement_on_same_line = false
resharper_use_indent_from_vs = false
resharper_wrap_array_initializer_style = chop_if_long
resharper_wrap_before_eq = true
resharper_wrap_chained_binary_expressions = chop_if_long
resharper_wrap_list_pattern = chop_if_long

# ReSharper inspection severities
resharper_arrange_namespace_body_highlighting = suggestion
resharper_arrange_this_qualifier_highlighting = none
resharper_arrange_type_member_modifiers_highlighting = none
resharper_arrange_type_modifiers_highlighting = none
resharper_built_in_type_reference_style_for_member_access_highlighting = none
resharper_built_in_type_reference_style_highlighting = none
resharper_cognitive_complexity_highlighting = suggestion
resharper_inconsistent_naming_highlighting = error
resharper_possible_multiple_enumeration_highlighting = suggestion
resharper_redundant_base_qualifier_highlighting = none
resharper_web_config_module_not_resolved_highlighting = warning
resharper_web_config_type_not_resolved_highlighting = warning
resharper_web_config_wrong_module_highlighting = warning
# Code files
[*.{cs,csx,vb,vbx}]
indent_size = 4
tab_width = 2
insert_final_newline = true
charset = utf-8-bom
###############################
# .NET Coding Conventions     #
###############################
[*.{cs,vb}]
# Organize usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true
# this. preferences
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_event = false:silent
# Language keywords vs BCL types preferences
dotnet_style_predefined_type_for_locals_parameters_members = true:silent
dotnet_style_predefined_type_for_member_access = true:silent
# Parentheses preferences
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:warning
dotnet_style_parentheses_in_relational_binary_operators = always_for_clarity:warning
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:warning
dotnet_style_parentheses_in_other_operators = always_for_clarity:warning
# Expression-level preferences
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_prefer_is_null_check_over_reference_equality_method = true:silent
dotnet_style_prefer_inferred_tuple_names = true:suggestion
dotnet_style_prefer_inferred_anonymous_type_member_names = true:suggestion
dotnet_style_prefer_auto_properties = true:silent
dotnet_style_prefer_conditional_expression_over_assignment = true:silent
dotnet_style_prefer_conditional_expression_over_return = true:silent
###############################
# Naming Conventions          #
###############################
# Use UPPERCASE for constant fields  
dotnet_naming_rule.constants_should_be_upper_case.severity = error
dotnet_naming_rule.constants_should_be_upper_case.symbols = constants
dotnet_naming_rule.constants_should_be_upper_case.style = constant_style
dotnet_naming_symbols.constants.applicable_kinds = field
dotnet_naming_symbols.constants.applicable_accessibilities = public, internal, protected_internal
dotnet_naming_symbols.constants.required_modifiers = const
dotnet_naming_style.constant_style.capitalization = all_upper
dotnet_naming_style.constant_style.word_separator = _
# _ prefix for non-public constants symbols 
dotnet_naming_rule.non_public_constants_should_have_underscore_prefix.severity = error
dotnet_naming_rule.non_public_constants_should_have_underscore_prefix.symbols = non_public_constants
dotnet_naming_rule.non_public_constants_should_have_underscore_prefix.style = non_public_constant_style
dotnet_naming_symbols.non_public_constants.applicable_kinds = field
dotnet_naming_symbols.non_public_constants.applicable_accessibilities = private, protected
dotnet_naming_symbols.non_public_constants.required_modifiers = const
dotnet_naming_style.non_public_constant_style.capitalization = all_upper
dotnet_naming_style.non_public_constant_style.word_separator = _
dotnet_naming_style.non_public_constant_style.required_prefix = _
# Use Camel Case and _ prefix for non-public symbols  
dotnet_naming_rule.non_public_must_be_camel_case.severity = error
dotnet_naming_rule.non_public_must_be_camel_case.symbols = non_public_symbols
dotnet_naming_rule.non_public_must_be_camel_case.style = camel_case_style
dotnet_naming_symbols.non_public_symbols.applicable_kinds = property, field, event, delegate, struct
dotnet_naming_symbols.non_public_symbols.applicable_accessibilities = private, protected
dotnet_naming_style.camel_case_style.capitalization = camel_case
dotnet_naming_style.camel_case_style.required_prefix = _
# Use Camel Case and _ prefix for non-public variables  
dotnet_naming_rule.non_public_variables_must_be_camel_case.severity = error
dotnet_naming_rule.non_public_variables_must_be_camel_case.symbols = non_public_variables_symbols
dotnet_naming_rule.non_public_variables_must_be_camel_case.style = non_public_variables_camel_case_style
dotnet_naming_symbols.non_public_variables_symbols.applicable_kinds = local
dotnet_naming_style.non_public_variables_camel_case_style.capitalization = camel_case
# Use Pascal Case for public symbols
dotnet_naming_rule.public_must_be_pascal_case.severity = error
dotnet_naming_rule.public_must_be_pascal_case.symbols = public_symbols
dotnet_naming_rule.public_must_be_pascal_case.style = pascal_case_style
dotnet_naming_symbols.public_symbols.applicable_kinds = property, field, event, delegate
dotnet_naming_symbols.public_symbols.applicable_accessibilities = public, internal, protected_internal
dotnet_naming_style.pascal_case_style.capitalization = pascal_case
# Use Pascal Case for Methods and Classes
dotnet_naming_rule.method_and_class_must_be_pascal_case.severity = error
dotnet_naming_rule.method_and_class_must_be_pascal_case.symbols = method_and_class_symbols
dotnet_naming_rule.method_and_class_must_be_pascal_case.style = method_and_class_style
dotnet_naming_symbols.method_and_class_symbols.applicable_kinds = method, class
dotnet_naming_style.method_and_class_style.capitalization = pascal_case
###############################
# C# Coding Conventions       #
###############################
[*.cs]
csharp_style_namespace_declarations = file_scoped:suggestion
# var preferences
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:silent
csharp_style_var_elsewhere = false:suggestion
# Expression-bodied members
csharp_style_expression_bodied_methods = true:suggestion
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = false:silent
csharp_style_expression_bodied_properties = true:suggestion
csharp_style_expression_bodied_indexers = true:suggestion
csharp_style_expression_bodied_accessors = true:suggestion
# Pattern matching preferences
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion
# Null-checking preferences
csharp_style_throw_expression = true:suggestion
csharp_style_conditional_delegate_call = true:suggestion
# Modifier preferences
dotnet_style_require_accessibility_modifiers = for_non_interface_members:silent
dotnet_style_readonly_field = true:suggestion
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,unsafe,volatile,async:suggestion
# Expression-level preferences
csharp_prefer_braces = true:silent
csharp_style_deconstructed_variable_declaration = true:suggestion
csharp_prefer_simple_default_expression = true:suggestion
csharp_prefer_simple_using_statement = true:suggestion
csharp_style_pattern_local_over_anonymous_function = true:suggestion
csharp_style_inlined_variable_declaration = true:suggestion
###############################
# C# Formatting Rules         #
###############################
# New line preferences
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_new_line_before_members_in_object_initializers = true
csharp_new_line_before_members_in_anonymous_types = true
csharp_new_line_between_query_expression_clauses = true
# Indentation preferences
csharp_indent_case_contents = true
csharp_indent_switch_labels = true
csharp_indent_labels = flush_left
# Space preferences
csharp_space_after_cast = false
csharp_space_after_keywords_in_control_flow_statements = true
csharp_space_between_method_call_parameter_list_parentheses = false
csharp_space_between_method_declaration_parameter_list_parentheses = false
csharp_space_between_parentheses = false
csharp_space_before_colon_in_inheritance_clause = true
csharp_space_after_colon_in_inheritance_clause = true
csharp_space_around_binary_operators = before_and_after
csharp_space_between_method_declaration_empty_parameter_list_parentheses = false
csharp_space_between_method_call_name_and_opening_parenthesis = false
csharp_space_between_method_call_empty_parameter_list_parentheses = false
# Wrapping preferences
csharp_preserve_single_line_statements = true
csharp_preserve_single_line_blocks = true
###############################
# VB Coding Conventions       #
###############################
[*.vb]
# Modifier preferences
dotnet_style_require_accessibility_modifiers = for_non_interface_members:error
dotnet_style_readonly_field = true:suggestion
visual_basic_preferred_modifier_order = Partial,Default,Private,Protected,Public,Friend,NotOverridable,Overridable,MustOverride,Overloads,Overrides,MustInherit,NotInheritable,Static,Shared,Shadows,ReadOnly,WriteOnly,Dim,Const,WithEvents,Widening,Narrowing,Custom,Async:suggestion
